.notFound {
    background-color: antiquewhite;
}

.wasFound{
    background-color: lightgreen;
}

.notFoundMessage {
    font-weight: bolder;
}

.notFoundMessageBackGround{
    background-color: lightblue;
}